.idea/
.buildozer/
venv/
bin/
smartphone_bin/
windows_bin/
linux_bin/
**/src/usbtest*
examples/
__pycache__/
/device/libs/ringbuffer/*
!/device/libs/ringbuffer/RingBuffer.*
/device/libs/MiniCore-master/avr/bootloaders/optiboot_flash/bootloaders/*
!/device/libs/MiniCore-master/avr/bootloaders/optiboot_flash/bootloaders/atmega168p
/device/libs/MiniCore-master/avr/libraries/*
!/device/libs/MiniCore-master/avr/libraries/SPI
/device/libs/MiniCore-master/avr/variants/*
!/device/libs/MiniCore-master/avr/variants/standard
*.db
